<img id="header-img" src="../../assets/images/header.png" class="header" />
<img id="nav-img" src="../../assets/images/menu.png" class="header d-none" />
<div id="navbar-overlay" class="navbar-overlay">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <div>
        <img src="../../assets/images/logo.png" />
      </div>
      <div>
        <i
          onclick="addClass()"
          id="navbar-link"
          class="fa-2x fas fa-bars white-color"
        ></i>
      </div>
    </div>
    <div class="header-details" id="details">
      <div class="content col-xl-5 col-lg-7 col-md-9 col-12">
        <h1 class="white-color">Since 1980</h1>
        <div class="d-none d-sm-block">
          <p class="white-color">
            Maxim Development has been committed to developing projects that
            serve different sectors of the real estate market. Whether it’s a
            waterfront home, a city home, an international 5 star hotel or a
            unique shopping experience, Maxim Development has been a key player
            in the market.
          </p>
          <a class="btn btn-light" href="#">Contact us</a>
        </div>
      </div>
      <div class="d-flex justify-content-between header-footer">
        <div class="social-links">
          <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
          <a href="www.instgram.com"><i class="fab fa-instagram"></i></a>
          <a href="www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
          <a href="www.youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="controls d-none d-sm-block">
          <a href="#"><i class="fas fa-angle-left"></i></a>
          <a href="#"><i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    <div id="menu-nav" class="menu-nav d-none">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8 col-12">
            <div class="links">
              <a href="#"><span>Home</span></a>
              <a href="#"
                ><span
                  >About us <i class="fas fa-sort-down fa-rotate-270"></i></span
              ></a>
              <a href="#"><span>Our developments</span></a>
              <a href="#"><span>Careers</span></a>
              <a href="#"><span>Media Center</span></a>
              <a href="#"><span>Contact us</span></a>
            </div>
            <div class="social-links">
              <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
              <a href="www.instgram.com"><i class="fab fa-instagram"></i></a>
              <a href="www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
              <a href="www.youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="info col-sm-4 col-12">
            <div class="info-details">
              <div class="location row">
                <div class="col-1 p-0">
                  <img
                    src="../../assets/images/map-marker.svg"
                    class="img-fluid"
                  />
                </div>
                <div class="col-10">
                  Al-Multaqa Al-Arabi Al-Nasr Road Sheraton Heliopolis, Cairo
                </div>
                <div class="row mb-5">
                  <div class="col-1"></div>
                  <div class="col-10 float-right">
                    <div class="navigate">
                      navigate <i class="fas fa-location-arrow"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mail row mb-5">
                <div class="col-1 p-0">
                  <img
                    src="../../assets/images/envelop.svg"
                    class="img-fluid"
                  />
                </div>
                <div class="col-10">
                  <a href="mailto:Info@maximig.com"> Info@maximig.com</a>
                </div>
              </div>
              <div class="contact row">
                <div class="col-1 p-0">
                  <img src="../../assets/images/phone.svg" class="img-fluid" />
                </div>
                <div class="col-10">
                  <div>19249</div>
                  <div>02 20652000</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script></script>
