<section class="about-us mt-5">
  <div class="container-fluid">
    <div class="row about-section">
      <div class="col-sm-6">
        <div class="col-sm-10 offset-sm-2 col-12">
          <h4 class="text-uppercase gold-color">about us</h4>
          <h1>Our Story</h1>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus
            <a href="#"
              ><strong class="black-color">
                know more <i class="fas fa-arrow-right"></i></strong
            ></a>
          </p>
        </div>
      </div>
      <div class="col-sm-6 p-relative">
        <img class="img-fluid" src="../../assets/images/about.png" />
        <img src="../../assets/images/play.svg" class="play-img" />
      </div>
      <div class="about-signature">
        <div>
          <span class="gold-color fourty-one">41</span>
        </div>
        <div>
          <span class="gold-color first-header">IN ARCHITECTURE DESING</span>
          <span class="second-header">YEARS OF EXPERIENCE</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="portofolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="offset-sm-2">
          <h4 class="text-uppercase gold-color">Portofolio</h4>
          <h1>Our Developments</h1>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-6 col-12 p-0 p-relative">
        <img src="../../assets/images/portfolio-2.png" class="img-fluid" />
        <div class="portfolio-overlay">
          <div class="col-sm-9 offset-sm-3 col-12">
            <h2 class="">Costal</h2>
            <h3>Bo islands <i class="fas fa-arrow-right"></i></h3>
            <h3>Bo med <i class="fas fa-arrow-right"></i></h3>
            <h3>Bo sands <i class="fas fa-arrow-right"></i></h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12 p-0 p-relative residential">
        <img src="../../assets/images/portfolio-1.png" class="img-fluid" />
        <div class="portfolio-overlay">
          <h3>Residential</h3>
        </div>
      </div>
      <div class="col-12 p-0 p-relative portofolio-details">
        <img class="img-fluid" src="../../assets/images/portfolio-3.png" />
        <div class="portfolio-overlay">
          <div>
            <div class="number">200</div>
            <div class="text">Projects</div>
          </div>
          <div>
            <div class="number">50</div>
            <div class="text">Awards</div>
          </div>
          <div>
            <div class="number">41</div>
            <div class="text">Years</div>
          </div>
          <div>
            <div class="number">100+</div>
            <div class="text">Clients</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="latest-news p-relative">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 p-0">
        <img
          src="../../assets/images/background-r.png"
          class="img-fluid w-100"
        />
      </div>
      <div class="col-6 p-0">
        <img
          src="../../assets/images/background-l.png"
          class="img-fluid w-100"
        />
      </div>
    </div>
  </div>
  <div class="newsletter-overlay">
    <div class="col-sm-6 col-12 mt-5">
      <div class="offset-sm-2">
        <h4 class="gold-color">Latest news</h4>
        <h1>Media center</h1>
      </div>
    </div>
    <div class="media-gallery">
      <div class="container-fluid">
        <div class="col-sm-11 col-12 p-0 d-flex justify-content-center m-auto">
          <div class="row justify-content-around w-100">
            <div class="col-sm-5 col-12 p-0 p-relative">
              <img src="../../assets/images/Boisland.png" class="img-fluid" />
              <div class="media-content-details">
                <span>BO ISLAND . 26-7-2021</span>
                <h4>
                  Own your beachfront home at bo Sidi Abdelrahman with 5% Down
                  payment and 9 Years Installments.
                </h4>
              </div>
            </div>
            <div class="col-sm-5 p-0 col-12 p-relative">
              <img src="../../assets/images/Maxim.png" class="img-fluid" />
              <div class="media-content-details">
                <span>Maxim Residence . 26-7-2021</span>
                <h4>
                  Own your beachfront home at bo Sidi Abdelrahman with 5% Down
                  payment and 9 Years Installments.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-us">
  <div class="container-fluid">
    <div class="col-sm-11 col-12 m-auto">
      <div class="contactus-form">
        <div class="row justify-content-around">
          <div class="col-sm-5 col-12 contact-img">
            <img src="../../assets/images/contact-us.png" class="img-fluid"/>
          </div>
          <div class="col-sm-5 col-12">
            <h2 class="gold-color">Drop us a line</h2>
            <h1>Contact us</h1>
            <form class="mt-5">
              <input placeholder="Please enter your name" type="text" />
              <input placeholder="Please enter your E-mail" type="text" />
              <input placeholder="subject" type="text" />
              <textarea rows="4" cols="50" placeholder="Enter your message here"></textarea>
              <button type="submit">submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="mt-5">
  <div class="container-fluid">
    <div class="footer-row row justify-content-around">
      <div>
        <img src="../../assets/images/footer-logo.png" />
      </div>
      <div class="footer-links">
        <h3 class="gold-color">Quick links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="developments">
        <div class="row">
          <div class="d-flex align-items-center development-header">
            <h4 class="rotate">Our developments</h4>
          </div>
          <div>
            <h4>Costal</h4>
            <ul>
              <li>Bo islands</li>
              <li>Bo med</li>
              <li>Bo sands</li>
            </ul>
            <h4>Residential</h4>
            <ul>
              <li>Maxim Residence</li>
              <li>Maxim Country Club</li>
              <li>Royal Maxim</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-contacts">
        <div class="call">
          <h4>Call us</h4>
          <h4 class="phone-number"><a href="tel:19249">19249</a></h4>
        </div>
        <div class="footer-social">
          <div>
            <h4>follow us</h4>
            <div class="social-links">
              <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
              <a href="www.instgram.com"><i class="fab fa-instagram"></i></a>
              <a href="www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
              <a href="www.youtube.com"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
